<nav id="navigation"
	class="noprint col-xs-12
		col-sm-10 col-sm-offset-1
		col-md-8 col-md-offset-2
		col-lg-6 col-lg-offset-3"
	role="menubar">
	<a id="navigation--profile"
		class="navigation--item"
		href="/"
		role="menuitem">
		<img src="/assets/icon-profile.svg" alt="/assets/icon-profile.svg" aria-hidden="true" />
		Profile
	</a>

	<a id="navigation--resume"
		class="navigation--item"
		href="/resume.html"
		role="menuitem">
		<img src="/assets/icon-resume.svg" alt="/assets/icon-resume.svg" aria-hidden="true" />
		Résumé
	</a>

	<a id="navigation--articles"
		class="navigation--item"
		href="/articles.html"
		role="menuitem">
		<img src="/assets/icon-articles.svg" alt="/assets/icon-articles.svg" aria-hidden="true" />
		Articles
	</a>

	<a
		id="navigation--contact"
		class="navigation--item"
		href="/contact.html"
		role="menuitem">
		<img src="/assets/icon-contact.svg" alt="/assets/icon-contact.svg" aria-hidden="true" />
		Contact
	</a>
</nav>
