<meta charset="UTF-8"/>
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="manifest" href="/manifest.json">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#556688">
<link rel="stylesheet" href="/assets/main.css">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="theme-color" content="#eeeeee">
<script async src="/assets/main.js"></script>
