<img id="profile--picture"
	src="/assets/me-128.jpg"
	alt="Picture of Omar Chehab">

<h1 id="profile--name"
	style="margin-top: 0;">
	Omar Chehab
</h1>

<p class="profile--item">
	Toronto, Canada
</p>

<div class="profile--item">
	<a class="profile--link"
		aria-label="Linked In"
		href="https://linkedin.com/in/omar-chehab">
		<img width="36"
			src="/assets/logo-linkedin.svg"
			alt="Linked In Logo">

		<span>
			LinkedIn
		</span>
	</a>

	<a class="profile--link"
		aria-label="Git Hub"
		href="https://github.com/omarchehab98">
		<img width="36"
			src="/assets/logo-github.svg"
			alt="Git Hub Logo">

		<span>
			GitHub
		</span>
	</a>

	<a class="profile--link"
		aria-label="Send email"
		href="mailto:{{ site.email }}">
		<img width="36"
			src="/assets/logo-gmail.svg"
			alt="G Mail Logo">

		<span>
			Mail
		</span>
	</a>
</div>
