@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');
@import 'bootstrap';
@import 'variables';
@import 'profile';
@import 'navigation';
@import 'contact';
@import 'resume';

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  background-color: $darker-blue;
}

#sections {
  animation: loading--finished 1.25s;
  animation-fill-mode: forwards;
}

@keyframes loading--finished {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
