#navigation {
  display: flex;
  color: $light-gray;
  background-color: $dark-blue;
  text-align: center;
  transition: transform 1s;
}

.navigation--item {
  flex-grow: 1;
  padding: 4px 0px;
  text-decoration: none;

  svg,
  img {
    display: block;
    margin: 8px auto;
  }

  &,
  &:visited {
    color: $grayish-blue;
  }

  &:hover {
    color: $light-gray;
    text-decoration: none;
  }

  &.active,
  &:active {
    color: white;
    text-decoration: none;
	svg {
		fill: #ddd;
	}
  }

}
