<!DOCTYPE html>
<html lang="en">
<head>
  {% include meta.html %}
</head>
<body>
	{% include header.html %}


	<div id="page"
		class="col-xs-12
			col-sm-10 col-sm-offset-1
			col-md-8 col-md-offset-2
			col-lg-6 col-lg-offset-3">
		<main>
			<h1>{{ page.title }}</h1>
			<p style="font-weight: bold;">Written {{ page.date | timeago }}</p>

			{{ content }}
		</main>
		
		<h1>Discussion</h1>
		
		<div id="commento"></div>
		<script src="https://cdn.commento.io/js/commento.js"></script>
		
		<h1>Other Articles</h1>

		{% for post in site.posts limit:11 %}
      {% if post.url != page.url %}
				{% include article-preview.html post=post %}
			{% endif %}
		{% endfor %}
	</div>

  {% include footer.html %}
</body>
</html>
